flows_DESKTOP-54AANFG.json
[{"id":"294963e1.7c8d0c","type":"tab","label":"Tells Date","disabled":false,"info":""},{"id":"c9d45d6c.66b56","type":"tab","label":"Update Jekyll CSV","disabled":false,"info":""},{"id":"1b41c30d.e4545d","type":"git-nodes-config","z":"","name":"","git":"git@github.com:zachdyerdesign/node-red-git-test.git"},{"id":"aef178f7.945d48","type":"inject","z":"294963e1.7c8d0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.2","x":170,"y":100,"wires":[["3d04f3f0.009b8c"]]},{"id":"65168e70.96fbb","type":"debug","z":"294963e1.7c8d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":60,"wires":[]},{"id":"3d04f3f0.009b8c","type":"moment","z":"294963e1.7c8d0c","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMMM DD, YYYY","locale":"C","output":"","outputType":"msg","outTz":"America/Chicago","x":360,"y":100,"wires":[["571ed44c.5c1d8c"]]},{"id":"4aafc2f.2e6453c","type":"inject","z":"294963e1.7c8d0c","name":"","topic":"","payload":"The date is","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["571ed44c.5c1d8c"]]},{"id":"571ed44c.5c1d8c","type":"join","z":"294963e1.7c8d0c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":60,"wires":[["65168e70.96fbb"]]},{"id":"7660b4eb.17aecc","type":"comment","z":"c9d45d6c.66b56","name":"Get data","info":"","x":160,"y":200,"wires":[]},{"id":"b0b3c91b.40e1a8","type":"comment","z":"c9d45d6c.66b56","name":"Convert data","info":"Convert data to CSV.","x":730,"y":380,"wires":[]},{"id":"6cfc95e2.a8b1fc","type":"comment","z":"c9d45d6c.66b56","name":"Commit to Git","info":"","x":1030,"y":140,"wires":[]},{"id":"2e23070d.cea348","type":"http request","z":"c9d45d6c.66b56","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://sheet.best/api/sheets/fa60129b-5a4d-4c00-9b29-98eb823df220","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":240,"wires":[["9c9d3cc.bf3dfc","ed934369.2663"]]},{"id":"9c9d3cc.bf3dfc","type":"debug","z":"c9d45d6c.66b56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":240,"wires":[]},{"id":"dfae0bf0.198678","type":"inject","z":"c9d45d6c.66b56","name":"","topic":"Make request","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":240,"wires":[["2e23070d.cea348"]]},{"id":"cfdd7e9b.b8398","type":"csv","z":"c9d45d6c.66b56","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"one","ret":"\\n","temp":"Date,\"Total Cases\",\"New Cases\"","skip":"0","strings":true,"x":870,"y":540,"wires":[["7d340e1a.1f4ba","6c81e9a9.c20158"]]},{"id":"e91c78af.7ebf48","type":"debug","z":"c9d45d6c.66b56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":440,"wires":[]},{"id":"ed934369.2663","type":"json","z":"c9d45d6c.66b56","name":"","property":"payload","action":"obj","pretty":false,"x":710,"y":440,"wires":[["e91c78af.7ebf48","cfdd7e9b.b8398"]]},{"id":"7d340e1a.1f4ba","type":"debug","z":"c9d45d6c.66b56","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":540,"wires":[]},{"id":"59d90c0e.1f8664","type":"git-nodes","z":"c9d45d6c.66b56","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"git":"1b41c30d.e4545d","x":880,"y":740,"wires":[]},{"id":"6c81e9a9.c20158","type":"file","z":"c9d45d6c.66b56","name":"","filename":"~/.node-red/greene-county-c19.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1120,"y":640,"wires":[["398cda0c.e02656"]]},{"id":"398cda0c.e02656","type":"debug","z":"c9d45d6c.66b56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":640,"wires":[]}]